.imgsdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 64px 0px !important;
}

.imgsdiv img{
    width: 23%;
    margin: 10px;
}

@media screen and (max-width:1018px) {

    .imgsdiv img{
        width: unset;
    }
    
}